@font-face {
  font-family: HeaderFont;
  src: url(./Fonts/Beachfly\ Free\ Trial.ttf);
}

@font-face {
  font-family: HeaderFont2;
  src: url(./Fonts/Bellerose.ttf)
}

.webTop{
  background-image: url("./Imgs/BackgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.imgSize{
  width: 1000px
}

.introBox{
  color: antiquewhite;
  background-image: url("./Imgs/BoxImg.png");
  background-repeat: no-repeat;
  width: 700px;
}

.HF{
  font-family: HeaderFont;
}

.HF2{
  font-family: HeaderFont2;
}
