@font-face {
  font-family: HeaderFont;
  src: url(./Fonts/Beachfly\ Free\ Trial.ttf);
}

@font-face {
  font-family: HeaderFont2;
  src: url(./Fonts/Bellerose.ttf)
}

.webTop{
  background-image: url("./Imgs/BackgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.imgSize{
  width: 800px
}

.introBox{
  background-image: url("./Imgs/BoxImg.png");
  background-repeat: no-repeat;
  width: 800px;
}

.HF{
  font-family: HeaderFont;
  margin-bottom: -30px;
}

.HF2{
  font-family: HeaderFont2;
}

.introText{
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-right: 140px ;
  padding: 2px;
}

.line{
  background-color: black;
  border-top: 3px solid black;
}

.about{
  font-family: HeaderFont2;
  margin-bottom: -10px;
  margin-top: -3px;
}

.aboutMeBox{
  width: 275px
}

.spacer{
  height: 700px;
}

.collageSize{
  width:2540px
}